<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Layout Fluida</title> <!--se adapta ao tamanho da tela que você dizer, mas nao é responsivo; num celular é melhor responsivo-->
	<link rel="stylesheet" type="text/css" href="layout.css">
</head>
<body>

	<div id="container">
		<div id="marca">Marca</div>
		<div id="conteudo">
			<ul id="noticia">
				<li><a href="#">Tecnologia: Avanços em Inteligência Artificial revolucionam o mercado</a></li>  
				<li><a href="#">Economia: Nova política fiscal impacta pequenos negócios</a></li>  
				<li><a href="#">Ciência: Descoberta pode mudar o tratamento de doenças genéticas</a></li>  
				<li><a href="#">Esportes: Equipe surpreende e vence campeonato internacional</a></li>  
				<li><a href="#">Entretenimento: Filme de ficção científica bate recordes de bilheteria</a></li>

			</ul>
		</div>
		<div id="navegação">
			<ul class="navegação">
			    <li><a href="#">Maçã</a></li>
			    <li><a href="#">Banana</a></li>
			    <li><a href="#">Mamão</a></li>
			    <li><a href="#">Abacate</a></li>
			    <li><a href="#">Melancia</a></li>
			</ul>
		</div>
			

		<div id="rodape">rodape</div>
	</div>

</body>
</html>