@keyframes animação-caixa{
	from{
		background:indianred;
		border-radius: 300px;
		top: 0;
		left: 0px;
	}

	to{
		background: green;
		top: 200px;
		left: 900px;
	}
}

#caixa{
	width: 300px;
	height: 300px;
	background: indianred;
	animation-name:animação-caixa;
	animation-duration: 5s;
	animation-delay: 4s;
	animation-iteration-count: 4;
	animation-direction: alternate;
	position: relative;

	animation: animação-caixa 5s 4s 4 alternate;
}

